# Preprocessing of Twitter Data
Author: Florian Lugstein (flugstein@cs.sbg.ac.at)  
Date: 2020-07-29

In [1]:
import json
import time
import copy
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
from collections import Counter
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import TweetTokenizer
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/flugstein/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

## Choose Dataset

In [2]:
options = ['vegan', 'neos', 'fpoe', 'schalke', 'bvb']
data_dates = {'vegan': '20200407', 'neos': '20200311', 'fpoe': '20200311', 'schalke': '20200409', 'bvb': '20200409'}

data_name = input('Choose dataset to preprocess: ')

while data_name not in options:
    print('Choose one of ({})'.format(', '.join(options)))
    data_name = input('Choose the dataset to preprocess: ')
    
data_date = data_dates[data_name]

Choose dataset to preprocess: vegan

## Read Dataset JSON File

In [3]:
tweets_path = 'tweets/hpt_{}_tweets_utf8_sorted.json'.format(data_name)

In [4]:
used_columns = [
    'id_str',
    'truncated',
    'text',
    'entities.hashtags',
    'entities.urls',
    'entities.user_mentions',
    'entities.polls',
    'entities.media',
    'extended_tweet.full_text',
    'extended_tweet.entities.hashtags',
    'extended_tweet.entities.urls',
    'extended_tweet.entities.user_mentions',
    'extended_tweet.entities.polls',
    'extended_tweet.entities.media',
    'retweeted_status.id_str',
    'retweeted_status.text',
    'retweeted_status.entities.hashtags',
    'retweeted_status.entities.urls',
    'retweeted_status.entities.user_mentions',
    'retweeted_status.entities.media',
    'retweeted_status.extended_tweet.full_text',
    'retweeted_status.extended_tweet.entities.hashtags',
    'retweeted_status.extended_tweet.entities.urls',
    'retweeted_status.extended_tweet.entities.user_mentions',
    'retweeted_status.extended_tweet.entities.media',
    'quoted_status.id_str',
    'quoted_status.text',
    'quoted_status.entities.hashtags',
    'quoted_status.entities.urls',
    'quoted_status.entities.user_mentions',
    'quoted_status.entities.media',
    'quoted_status.extended_tweet.full_text',
    'quoted_status.extended_tweet.entities.hashtags',
    'quoted_status.extended_tweet.entities.urls',
    'quoted_status.extended_tweet.entities.user_mentions',
    'quoted_status.extended_tweet.entities.media',
    'in_reply_to_status_id_str',
    'quote_count',
    'retweet_count',
    'created_at',
    'user.id_str',
    'user.followers_count',
    'user.friends_count',
    'user.verified',
    'user.default_profile',
    'user.default_profile_image',
    'user.url',
    'user.listed_count',
    'user.statuses_count',
    'user.favourites_count',
    'user.created_at'
]

In [5]:
# For small data

starttime = time.time()

with open(tweets_path, 'r', encoding='utf8') as f:
    df = json_normalize(list(map(json.loads, f.readlines())))
    # df = df[df.columns.intersection(used_columns)] # only store used columns
    df = df.fillna(0) # replace NaNs with zeros
    
print(time.time() - starttime)

22.954254388809204

In [ ]:
# For big data

startime = time.time()
chunksize = 100000

with open(tweets_path, 'r', encoding='utf8') as f:
    lines = []
    frames = []
    for i, line in enumerate(f):         
        lines.append(json.loads(line))
        if i != 0 and i % chunksize == 0:
            frame = json_normalize(lines)
            frame = frame[frame.columns.intersection(used_columns)] # only store used columns
            frame = frame.fillna(0) # replace NaNs with zeros
            frames.append(frame)
            lines = []
    frame = json_normalize(lines)
    frame = frame[frame.columns.intersection(used_columns)] # only store used columns
    frame = frame.fillna(0) # replace NaNs with zeros
    frames.append(frame)

print(len(frames))
print(time.time() - starttime)
df = pd.concat(frames, ignore_index=True, sort=False)
print(time.time() - starttime)

In [6]:
# View dataframe
print('{} tweets with {} features in dataset'.format(df.shape[0], df.shape[1]))
print(df.shape)
display(df)

# Documentation: https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/intro-to-tweet-json
# Examples: https://gwu-libraries.github.io/sfm-ui/posts/2016-11-10-twitter-interaction

22325 tweets with 390 features in dataset
(22325, 390)

,contributors,coordinates,coordinates.coordinates,coordinates.type,created_at,display_text_range,entities.hashtags,entities.media,entities.polls,entities.symbols,...,user.profile_use_background_image,user.protected,user.screen_name,user.statuses_count,user.time_zone,user.translator_type,user.updated,user.url,user.utc_offset,user.verified
0,0,0.0,0,0,Fri Aug 23 00:08:41 +0000 2019,"[6, 18]",[],0,0,[],...,True,False,Peregrinetrade,1907,0,none,0,0,0,False
1,0,0.0,0,0,Fri Aug 23 00:26:51 +0000 2019,0,[],0,0,[],...,True,False,xoryps,39239,0,none,0,0,0,False
2,0,0.0,0,0,Fri Aug 23 00:41:15 +0000 2019,"[11, 24]",[],0,0,[],...,True,False,Johnnyrimes,1403,0,none,[description],0,0,False
3,0,0.0,0,0,Fri Aug 23 00:42:43 +0000 2019,0,[],0,0,[],...,True,False,PeKo40678598,210,0,none,[name],0,0,False
4,0,0.0,0,0,Fri Aug 23 00:48:33 +0000 2019,0,[],0,0,[],...,True,False,Donturunfromme,65844,0,none,0,0,0,False
5,0,0.0,0,0,Fri Aug 23 00:55:48 +0000 2019,0,[],0,0,[],...,True,False,Knifnek,34726,0,none,0,0,0,False
6,0,0.0,0,0,Fri Aug 23 00:57:58 +0000 2019,0,[],0,0,[],...,True,False,derllad,28664,0,none,"[description, name]",0,0,False
7,0,0.0,0,0,Fri Aug 23 01:06:22 +0000 2019,0,[],0,0,[],...,False,False,GuardNightmane,116569,0,none,[description],0,0,False
8,0,0.0,0,0,Fri Aug 23 02:11:12 +0000 2019,"[0, 55]","[{'text': 'vegan', 'indices': [49, 55]}]","[{'id': 1164721721049399296, 'id_str': '116472...",0,[],...,True,False,Veg_Ezy_,36790,0,none,"[description, name, location]",http://www.vegezy.com,0,False
9,0,0.0,0,0,Fri Aug 23 02:14:00 +0000 2019,0,[],0,0,[],...,True,False,NaneJuergensen,277875,0,none,0,http://www.keine-tricks-nur-jesus.de,0,False
10,0,0.0,0,0,Fri Aug 23 02:16:59 +0000 2019,0,"[{'text': 'Berlin', 'indices': [30, 37]}, {'te...",0,0,[],...,True,False,doppeldenk_0704,2080,0,none,0,0,0,False
11,0,0.0,0,0,Fri Aug 23 02:23:00 +0000 2019,"[11, 37]",[],0,0,[],...,True,False,rachelrios92,1551,0,none,0,0,0,False
12,0,0.0,0,0,Fri Aug 23 02:25:10 +0000 2019,0,[],0,0,[],...,True,False,GroadmiralThraw,49384,0,none,[name],https://tellonym.de/089e0407e47e6579e254ca5127...,0,False
13,0,0.0,0,0,Fri Aug 23 02:26:23 +0000 2019,"[8, 137]",[],0,0,[],...,True,False,MarcMueller80,2583,0,none,[description],0,0,False
14,0,0.0,0,0,Fri Aug 23 02:35:34 +0000 2019,0,[],0,0,[],...,False,False,itsiestatime,11076,0,none,[description],0,0,False
15,0,0.0,0,0,Fri Aug 23 02:43:57 +0000 2019,0,[],0,0,[],...,True,False,ClaudiaEhmsen,5400,0,none,0,http://tierkunst-design-art.beepworld.de,0,False
16,0,0.0,0,0,Fri Aug 23 02:58:21 +0000 2019,0,"[{'text': 'Judentum', 'indices': [29, 38]}, {'...",0,0,[],...,True,False,emsrunner,5822,0,none,[description],0,0,False
17,0,0.0,0,0,Fri Aug 23 03:06:23 +0000 2019,0,"[{'text': 'Erfahrung', 'indices': [0, 10]}, {'...",0,0,[],...,True,False,emsrunner,5824,0,none,[description],0,0,False
18,0,0.0,0,0,Fri Aug 23 03:26:22 +0000 2019,0,"[{'text': 'vegan', 'indices': [41, 47]}, {'tex...","[{'id': 1164644497843806208, 'id_str': '116464...",0,[],...,True,False,VEinfach_vegan,312,0,none,0,0,0,False
19,0,0.0,0,0,Fri Aug 23 03:29:13 +0000 2019,0,"[{'text': 'blechkuchen', 'indices': [43, 55]},...",0,0,[],...,True,False,DaJaysl,1168,0,none,0,0,0,False
20,0,0.0,0,0,Fri Aug 23 03:41:19 +0000 2019,"[8, 20]",[],0,0,[],...,False,False,67v77,1311,0,none,"[description, name]",0,0,False
21,0,0.0,0,0,Fri Aug 23 03:56:01 +0000 2019,0,[],0,0,[],...,True,False,KlausReuss,7232,0,none,0,http://klausreuss.de,0,False
22,0,0.0,0,0,Fri Aug 23 03:58:29 +0000 2019,0,[],0,0,[],...,True,False,Schweinemonster,20097,0,none,0,0,0,False
23,0,0.0,0,0,Fri Aug 23 03:59:40 +0000 2019,0,"[{'text': 'kopfschüttelgeräusch', 'indices': [...",0,0,[],...,False,False,stephie_hh,24264,0,none,0,0,0,False
24,0,0.0,0,0,Fri Aug 23 04:01:30 +0000 2019,"[41, 140]",[],0,0,[],...,True,False,SonjaManderbach,1912,0,none,0,0,0,False
25,0,0.0,0,0,Fri Aug 23 04:23:36 +0000 2019,0,"[{'text': 'Amazonas', 'indices': [103, 112]}]",0,0,[],...,True,False,michels_inge,1526,0,none,"[description, location]",0,0,False
26,0,0.0,0,0,Fri Aug 23 04:25:07 +0000 2019,"[13, 140]",[],0,0,[],...,True,False,SonjaManderbach,1916,0,none,0,0,0,False
27,0,0.0,0,0,Fri Aug 23 04:25:25 +0000 2019,0,"[{'text': 'Pflanzen', 'indices': [34, 43]}, {'...",0,0,[],...,False,False,NightyTwidda,7797,0,none,[description],0,0,False
28,0,0.0,0,0,Fri Aug 23 04:25:26 +0000 2019,0,[],0,0,[],...,True,False,SonjaManderbach,1917,0,none,0,0,0,False
29,0,0.0,0,0,Fri Aug 23 04:25:27 +0000 2019,0,"[{'text': 'Amazonas', 'indices': [103, 112]}]",0,0,[],...,True,False,KrazuulLevioth,456,0,none,[description],0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22295,0,0.0,0,0,Wed Oct 02 20:37:10 +0000 2019,0,[],0,0,[],...,False,False,ampelfreund,3439,0,none,[name],https://www.youtube.com/user/Ampelfreund,0,False
22296,0,0.0,0,0,Wed Oct 02 20:40:23 +0000 2019,0,[],0,0,[],...,True,False,Lets__Alex,3438,0,none,"[description, name]",https://tellonym.me/LetsAlex,0,False
22297,0,0.0,0,0,Wed Oct 02 20:41:44 +0000 2019,0,[],0,0,[],...,True,False,jbomann,10228,0,none,[location],0,0,False
22298,0,0.0,0,0,Wed Oct 02 20:42:14 +0000 2019,0,"[{'text': 'vegan', 'indices': [77, 83]}, {'tex...",0,0,[],...,False,False,LebenSchones,3496,0,none,0,https://schoenes-veganes-leben.com/,0,False
22299,0,0.0,0,0,Wed Oct 02 20:47:15 +0000 2019,0,"[{'text': 'vegan', 'indices': [47, 53]}]",0,0,[],...,True,False,Mellamigo,1878,0,none,0,0,0,False
22300,0,0.0,0,0,Wed Oct 02 20:47:30 +0000 2019,"[0, 44]","[{'text': 'immer', 'indices': [0, 6]}, {'text'...","[{'id': 1179498147195822081, 'id_str': '117949...",0,[],...,True,False,Quentinvan,8858,0,none,0,0,0,False
22301,0,0.0,0,0,Wed Oct 02 20:50:06 +0000 2019,0,"[{'text': 'Afd', 'indices': [126, 130]}]",0,0,[],...,True,False,NickiStillAlive,23526,0,none,0,0,0,False
22302,0,0.0,0,0,Wed Oct 02 20:50:45 +0000 2019,"[13, 62]",[],0,0,[],...,False,False,NekoBlablaa,96812,0,none,"[description, name]",https://www.facebook.com/pages/Neko-Blablaa/14...,0,False
22303,0,0.0,0,0,Wed Oct 02 20:53:55 +0000 2019,"[16, 35]",[],0,0,[],...,True,False,MartinEhn1,9396,0,none,"[description, name]",0,0,False
22304,0,0.0,0,0,Wed Oct 02 20:54:26 +0000 2019,"[16, 126]",[],0,0,[],...,True,False,jklvnvgls,621,0,none,0,0,0,False
22305,0,0.0,0,0,Wed Oct 02 20:58:33 +0000 2019,"[0, 140]","[{'text': 'vegan', 'indices': [86, 92]}, {'tex...",0,0,[],...,False,False,theveganunity,2185,0,none,0,http://vegan-unity.de,0,False
22306,0,0.0,0,0,Wed Oct 02 21:07:26 +0000 2019,0,[],0,0,[],...,False,False,EtwasOhneName,26952,0,none,[description],http://shopohnename.bigcartel.com,0,False
22307,0,0.0,0,0,Wed Oct 02 21:13:04 +0000 2019,0,[],0,0,[],...,True,False,mvster_sword,69214,0,none,[name],https://www.lyft.com/idi/CAYLIN605397,0,False
22308,0,0.0,0,0,Wed Oct 02 21:14:30 +0000 2019,"[0, 65]",[],"[{'id': 1179504954400227333, 'id_str': '117950...",0,[],...,False,False,MetabolicsBCH,31855,0,none,0,0,0,False
22309,0,0.0,0,0,Wed Oct 02 21:18:09 +0000 2019,0,[],0,0,[],...,True,False,lagavillain,65296,0,none,"[description, name]",0,0,False
22310,0,0.0,0,0,Wed Oct 02 21:27:51 +0000 2019,0,[],0,0,[],...,True,False,123translations,13672,0,none,0,http://www.agefotostock.com/age/en/AuthorProfi...,0,False
22311,0,0.0,0,0,Wed Oct 02 21:36:44 +0000 2019,"[17, 140]","[{'text': 'Flugscham', 'indices': [82, 92]}, {...",0,0,[],...,True,False,philipmaiwald,1353,0,none,0,http://www.mywald.de,0,False
22312,0,0.0,0,0,Wed Oct 02 21:44:18 +0000 2019,0,[],0,0,[],...,True,False,inge_ritterbex,881,0,none,0,0,0,False
22313,0,0.0,0,0,Wed Oct 02 21:48:38 +0000 2019,0,[],0,0,[],...,True,False,4_freedom,32122,0,none,0,http://4freedom.eu/,0,False
22314,0,0.0,0,0,Wed Oct 02 21:53:00 +0000 2019,0,[],0,0,[],...,True,False,lujangarciat,31522,0,none,[name],0,0,False
22315,0,0.0,0,0,Wed Oct 02 21:55:08 +0000 2019,"[0, 140]",[],0,0,[],...,True,False,naturnetzwerk,254,0,none,0,https://www.fairvital.com/?p=952035,0,False
22316,0,0.0,0,0,Wed Oct 02 22:01:00 +0000 2019,"[11, 87]",[],0,0,[],...,True,False,AmazonHelp,3815831,0,none,0,http://www.amazon.com/help,0,True
22317,0,0.0,0,0,Wed Oct 02 22:16:38 +0000 2019,0,[],0,0,[],...,False,False,sexy__halloween,203784,0,none,0,0,0,False
22318,0,0.0,0,0,Wed Oct 02 22:20:31 +0000 2019,"[13, 111]",[],0,0,[],...,True,False,shlomosapiens,23027,0,none,0,http://spiritofentebbe.wordpress.com,0,False
22319,0,0.0,0,0,Wed Oct 02 22:26:00 +0000 2019,0,[],0,0,[],...,True,False,GanzStumpfLukas,4477,0,none,0,0,0,False
22320,0,0.0,0,0,Wed Oct 02 22:32:39 +0000 2019,"[14, 64]",[],0,0,[],...,True,False,ipanema_adriano,8188,0,none,0,0,0,False
22321,0,0.0,0,0,Wed Oct 02 23:23:05 +0000 2019,0,"[{'text': 'PressPlay', 'indices': [0, 10]}, {'...",0,0,[],...,True,False,supastarjkwik,129794,0,none,0,http://www.HOODRICHOFFICIAL.com,0,False
22322,0,0.0,0,0,Wed Oct 02 23:32:22 +0000 2019,"[17, 82]",[],0,0,[],...,False,False,RabTekYT,3380,0,none,0,http://www.youtube.com/c/RabTek/,0,False
22323,0,0.0,"[6.9206324, 50.9249748]",Point,Wed Oct 02 23:44:40 +0000 2019,0,"[{'text': 'Hummercatering', 'indices': [45, 60...",0,0,[],...,True,False,HummerCatering,2103,0,none,0,http://koeln-catering-service.de,0,False
22324,0,0.0,0,0,Wed Oct 02 23:52:48 +0000 2019,0,"[{'text': 'twoeyebrowsup', 'indices': [33, 47]...",0,0,[],...,True,False,secondisciple,4105,0,none,0,http://freeitupnow.com,0,False

## Read Transition Table

In [7]:
user_trans_path = 'trans_tables/transitiontable_reduced_{}_{}.txt'.format(data_name, data_date)

user_trans_table = {}
with open(user_trans_path, 'r') as f:
    for line in f:
        split_line = line.split(' ')
        user_trans_table[split_line[0]] = np.int64(split_line[1])

In [8]:
print('We have ' + str(len(user_trans_table)) + ' user ids in the transition table.')

We have 12088 user ids in the transition table.

## Create Output Dataframe

In [9]:
# Create output dataframe
tf = pd.DataFrame()

out_path = 'tweets_preproc_{}_{}.csv'.format(data_name, data_date)

## Tweet Features

### Ids

In [10]:
# Ids starting at 1

tf['id'] = np.int64(df.index + 1)

def id2index(id_):
    return id_ - 1

old_to_new_id = {old_id:np.int64(idx+1) for idx, old_id in df['id_str'].items()}  # dict to convert old to new ids

### Helper Functions

In [11]:
# Helper functions


# Convert old id to new id for 'reply_of' or 'retweet_of' or 'quoted_of' column
def conv_id(old_id):
    if old_id == 0:
        return 0  # default value if tweet is not a reply/retweet/quote
    
    no_parent = 0  # default value if parent of reply/retweet/quote tweet is not in dataset
    
    return old_to_new_id.get(old_id, no_parent)


# Remove source tweets and their retweets x days before the last day of the dataset, to fix retweet statistics, since most retweets occur x days after the original tweet
# Returns true if tweet should be removed
# Row of tf
def retweet_fix(row):
    cutoff_days = pd.offsets.Day(3)
    if row['pure_source'] == True:
        if pd.datetime.date(row['date'] + cutoff_days) > row['last_day']:
            return True
    elif row['retweet_of'] != 0:
        if pd.datetime.date(tf.loc[id2index(row['retweet_of'])]['date'] + cutoff_days) > row['last_day']:
            return True
    return False


# Get the id of the original tweet for a retweet/quote
# Row of df
def retweet_of(row):
    # retweets of quotes have both 'quoted_status' and 'retweeted_status' fields
    # 'quoted_status' contains the original source tweet, therefore it's checked first
    
    if row['quoted_status.id_str'] != 0:
        return conv_id(row['quoted_status.id_str'])
    
    if row['retweeted_status.id_str'] != 0:
        return conv_id(row['retweeted_status.id_str'])
    
    return 0


# Get retweet count for id using retweet_counts: series of (id, n_retweeted)
def get_retweet_count(id_):
    if id_ not in retweet_counts:
        return 0
    return retweet_counts.loc[id_]


# status_type: 'retweeted_status', 'quoted_status', ''
def get_entity_by_status_type(row, entity_name, status_type):
    if status_type != '':
        status_type += '.'
    
    if row[status_type + 'extended_tweet.full_text'] != 0:
        if entity_name == 'text':
            return row[status_type + 'extended_tweet.full_text']
        return row[status_type + 'extended_tweet.entities.' + entity_name]
    else:
        if entity_name == 'text':
            return row[status_type + 'text']
        return row[status_type + 'entities.' + entity_name]

    
# Returns the correct entity depending on tweet type and does merging for quotes
# entity_name: 'text', 'hashtags', 'urls', 'user_mentions', 'polls', 'media'
def get_entity(row, entity_name):
    if row['quoted_status.id_str'] != 0 and row['retweeted_status.id_str'] != 0:
        # retweet of quote: merge retweet (contains comment) and quote (contains original tweet)
        
        retweet_entity = get_entity_by_status_type(row, entity_name, 'retweeted_status')
        quote_entity = get_entity_by_status_type(row, entity_name, 'quoted_status')
        
        if entity_name == 'text':
            return retweet_entity + ' ' + quote_entity  # merge text
        else:
            if quote_entity == 0:
                return retweet_entity
            if retweet_entity == 0:
                return quote_entity
            
            # shift indices of 2nd entity because text gets merged
            retweet_text_len = len(get_entity_by_status_type(row, 'text', 'retweeted_status'))
            
            quote_entity = copy.deepcopy(quote_entity)
            for e in quote_entity:
                if 'indices' in e:
                    e['indices'][0] += retweet_text_len + len(' ')
                    e['indices'][1] += retweet_text_len + len(' ')

            # merge entities
            return retweet_entity + quote_entity  # merge lists
            
    elif row['quoted_status.id_str'] != 0:
        # quote: merge source tweet (contains comment) and quote (contains original tweet)
        
        source_entity = get_entity_by_status_type(row, entity_name, '')
        quote_entity = get_entity_by_status_type(row, entity_name, 'quoted_status')
        
        if entity_name == 'text':
            return source_entity + ' ' + quote_entity  # merge text
        else:
            if quote_entity == 0:
                return source_entity
            if source_entity == 0:
                return quote_entity

            # shift indices of 2nd entity because text gets merged
            source_text_len = len(get_entity_by_status_type(row, 'text', ''))
            
            quote_entity = copy.deepcopy(quote_entity)
            for e in quote_entity:
                if 'indices' in e:
                    e['indices'][0] += source_text_len + len(' ')
                    e['indices'][1] += source_text_len + len(' ')

            # merge entities
            return source_entity + quote_entity  # merge lists
            
    elif row['retweeted_status.id_str'] != 0:
        # retweet
        
        return get_entity_by_status_type(row, entity_name, 'retweeted_status')
            
    else:
        # source tweet (pure source or reply)
        
        return get_entity_by_status_type(row, entity_name, '')


# Count hashtags/urls/mentions/media for one tweet
# Row of df
def count_entity(row, entity_name):
    entity = get_entity(row, entity_name)
    
    if entity == 0:
        return 0
    
    return len(entity)

    
# Count media of certain type for one tweet
# Row of df
def count_media(row, type_):
    media = get_entity(row, 'media')
    
    if media == 0:
        return 0
    
    count = 0
    for m in media:
        if m['type'] == type_:
            count += 1
    
    return count


# Count text length of one tweet
# Row of df
def count_text(row):  
    return len(get_entity(row, 'text'))

In [100]:
print(df.iloc[3757]['id_str'])
print(df.iloc[3757]['user.screen_name'])
print('')
print(df.iloc[3757]['text'])
print('')
print(df.iloc[3757]['retweeted_status.text'])
print('')
print(df.iloc[3757]['quoted_status.text'])

1167067244830109696
squadrat

RT @Kiki1Bail: Der @neos_eu Balken ist ja interessant 🤔
👍Gefällt mir.
Aber diesmal: 💚 https://t.co/I0QnyCLJSe https://t.co/hplsWofpoF

Der @neos_eu Balken ist ja interessant 🤔
👍Gefällt mir.
Aber diesmal: 💚 https://t.co/I0QnyCLJSe https://t.co/hplsWofpoF

Nationalratswahl: Wie wählen Homosexuelle? Eine Studie zeigt Wahlmotive und Unterschiede zu Heterosexuellen auf. https://t.co/KxTikzdgHS

In [120]:
get_entity(df.iloc[3757], 'text')

'Der @neos_eu Balken ist ja interessant 🤔\n👍Gefällt mir. \nAber diesmal: 💚 https://t.co/I0QnyCLJSe https://t.co/hplsWofpoF Nationalratswahl: Wie wählen Homosexuelle? Eine Studie zeigt Wahlmotive und Unterschiede zu Heterosexuellen auf. https://t.co/KxTikzdgHS'

### Time/Date Columns

In [12]:
starttime = time.time()

In [13]:
# Time/date columns of a tweet

tf['timestamp'] = pd.to_datetime(df['created_at'])  # timestamp with second accuracy

tf['time'] = tf['timestamp'].dt.time  # only time, regardless of date

tf['hour'] = tf['timestamp'].dt.hour  # only hour, regardless of date

tf['date'] = tf['timestamp'].dt.date  # only date

tf['weekday_enc'] = tf['timestamp'].dt.dayofweek  # weekday encoded: (Monday == 0, Tuesday == 1, ..., Sunday == 6)

tf['weekday'] = tf['timestamp'].dt.day_name()  # weekday as string (Monday, Tuesday, ..., Sunday)

tf['first_day'] = tf['date'][0]  # first day of any tweet in the dataset

tf['last_day'] = tf['date'][len(tf) - 1]  # last day of any tweet in the dataset (without retweet fix)

In [14]:
print(time.time() - starttime)

3.836796760559082

### Tweet Types

In [15]:
starttime = time.time()

In [16]:
# Tweet types

# Pure source
# not retweet, not quote, not reply

tf['pure_source'] = (df['retweeted_status.id_str'] == 0) & (df['quoted_status.id_str'] == 0) & (df['in_reply_to_status_id_str'] == 0)


# Retweet
# 'retweet'==True and 'retweet_of'==0 => tweet is a retweet, but parent is not in dataset
# 'retweeted_count_int' => number of retweets of this tweet in the dataset
# 'retweeted_count_ext' => number of retweets of this tweet in and outside the dataset
# 'retweeted'==True => there is a retweet of this tweet in the dataset (retweets of retweets also count)
# we count quotes as retweets

tf['retweet'] = (df['retweeted_status.id_str'] != 0) | (df['quoted_status.id_str'] != 0)

tf['retweet_of'] = df.apply(retweet_of, axis=1)

# Remove source tweets and their retweets/quotes x days before the last day of the dataset, to fix retweet/quote statistics, since most retweets/quotes occur x days after the original tweet
to_remove = tf.apply(retweet_fix, axis=1)  # series of (id, to_remove), which tweets need to be removed
tf.drop(to_remove[to_remove == True].index, inplace=True)
print('{} tweets removed for retweet fix'.format(len(to_remove[to_remove == True])))
del to_remove

retweet_counts = tf[tf['retweet_of'] != 0]['retweet_of'].value_counts()  # series of (id, n_retweeted), how many times did tweet with id get retweeted within the dataset
tf['retweeted_count_int'] = tf['id'].apply(get_retweet_count)
del retweet_counts

tf['retweeted_count_ext'] = df['retweet_count'] + df['quote_count']  # TODO currently always 0

tf['retweeted'] = tf['retweeted_count_int'] != 0


# Retweet with comment (quote)
# in the twitter api, retweets of quotes have both 'quoted_status' and 'retweeted_status' fields
    # source tweet (quoted_status) -> quote of source (retweeted_status) -> retweet of quote
    # 'quoted_status' contains the original source tweet, 'retweeted_status' the quote tweet
# 'retweet_with_comment'==True and 'retweet_with_comment_of'==0 => tweet is a retweet_with_comment, but parent is not in dataset

tf['retweet_with_comment'] = (df['quoted_status.id_str'] != 0)


# Reply
# 'reply'==True and 'reply_of'=0 => tweet is a reply, but parent is not in dataset

tf['reply'] = df['in_reply_to_status_id_str'] != 0

tf['reply_of'] = df['in_reply_to_status_id_str'].apply(conv_id)

966 tweets removed for retweet fix

In [17]:
print(time.time() - starttime)

6.760125398635864

### Tweet Content

In [18]:
starttime = time.time()

In [19]:
# Tweet content
# If tweet is not extended, use standard tweet
# If tweet is extended, use extended_tweet
# If tweet is a retweet, use retweeted_status
# If tweet is a retweet and the original tweet is extended, use retweeted_status.extended_tweet


# Hashtags

tf['hashtag_count'] = df.apply(count_entity, args=('hashtags',), axis=1)

tf['hashtag'] = tf['hashtag_count'] != 0


# URLs

tf['url_count'] = df.apply(count_entity, args=('urls',), axis=1)

tf['url'] = tf['url_count'] != 0


# Mentions

tf['mention_count'] = df.apply(count_entity, args=('user_mentions',), axis=1)

tf['mention'] = tf['mention_count'] != 0


# Polls

tf['poll'] = (df['entities.polls'] != 0) | (df['extended_tweet.entities.polls'] != 0)


# Media

tf['media_count'] = df.apply(count_entity, args=('media',), axis=1)

tf['media'] = tf['media_count'] != 0

tf['photo_count'] = df.apply(count_media, args=('photo',), axis=1)

tf['video_count'] = df.apply(count_media, args=('video',), axis=1)

tf['animated_gif_count'] = df.apply(count_media, args=('animated_gif',), axis=1)


# Text length

tf['text_length'] = df.apply(count_text, axis=1)

tf['text_length_median'] = tf['text_length'].median()

In [20]:
print(time.time() - starttime)

12.909547567367554

## User Features

### Helper Functions

In [21]:
# Helper functions


# Convert old to new user id using transition table
def conv_user_id(id_):   
    not_found_value = 0
    return user_trans_table.get(id_, not_found_value)

'''
# Return column value from last tweet of user
def last_tweet_fixup(row, column):
    # return tf[tf['id'] == row['user.last_tweet']].iloc[0][column]
    return tf.loc[id2index(row['user.last_tweet'])][column] # NEW
'''

# How active is the user in terms of produced statuses (tweets/retweets)
def user_activity(row):
    if row['user.account_age'] == 0:
        return None
    last_tweet_statuses_count = tf.loc[id2index(row['user.last_tweet'])]['user.statuses_count']  # NEW
    # last_tweet_statuses_count = tf[tf['id'] == row['user.last_tweet']].iloc[0]['user.statuses_count']
    return last_tweet_statuses_count / row['user.account_age']


# How active is the user in terms of statuses and likes
def user_tweets_likes_activity(row):
    if row['user.account_age'] == 0:
        return None
    return (row['user.statuses_count'] + row['user.favourites_count']) / row['user.account_age']


# In which quantile is the property
def quantile(prop_value, q1, q2, q3):
    if prop_value < q1:
        return 0
    elif prop_value < q2:
        return 1
    elif prop_value < q3:
        return 2
    else:
        return 3

### User ID

In [22]:
# User ID

tf['user.id'] = df['user.id_str'].apply(conv_user_id)
n_not_found_ids = len(tf[tf['user.id'] == 0])
if (n_not_found_ids != 0):
    print('Warning: ' + str(n_not_found_ids) + ' user ids could not be found in the transition table.')

Warning: 412 user ids could not be found in the transition table.

### Followers

In [23]:
# Followers

tf['user.followers_count'] = df['user.followers_count']
q1 = tf['user.followers_count'].quantile(q=0.25)
q2 = tf['user.followers_count'].quantile(q=0.5)
q3 = tf['user.followers_count'].quantile(q=0.75)
tf['user.followers_count_quantile'] = tf['user.followers_count'].apply(quantile, args=(q1, q2, q3))

tf['user.followees_count'] = df['user.friends_count']
q1 = tf['user.followees_count'].quantile(q=0.25)
q2 = tf['user.followees_count'].quantile(q=0.5)
q3 = tf['user.followees_count'].quantile(q=0.75)
tf['user.followees_count_quantile'] = tf['user.followees_count'].apply(quantile, args=(q1, q2, q3))

del q1, q2, q3

### Profile Info

In [24]:
# Profile info

tf['user.verified'] = df['user.verified']
tf['user.default_profile'] = df['user.default_profile']
tf['user.default_profile_image'] = df['user.default_profile_image']
tf['user.url'] = df['user.url'] != 0

tf['user.listed_count'] = df['user.listed_count']
tf['user.listed_count_mean'] = tf['user.listed_count'].mean()

### Activity

In [25]:
starttime = time.time()

In [26]:
# lutf = tf[['user.id', 'id']].drop_duplicates(subset='user.id', keep='last')
# tf['user.last_tweet'] = tf['user.id'].apply(lambda user_id: lutf[lutf['user.id'] == user_id].iloc[0]['id'])
lutf = tf[['user.id', 'id']].drop_duplicates(subset='user.id', keep='last').set_index('user.id', drop=True)  # table of last tweet of every user
tf['user.last_tweet'] = tf['user.id'].apply(lambda user_id: lutf.loc[user_id]['id'])
del lutf

In [27]:
# Activity

tf['user.statuses_count'] = df['user.statuses_count']

tf['user.favourites_count'] = df['user.favourites_count']

tf['user.account_age'] = (tf['last_day'] - pd.to_datetime(df['user.created_at']).dt.date).dt.days
tf['user.account_age'] = tf['user.account_age'].astype(int)

tf['user.activity'] = tf.apply(user_activity, axis=1)

tf['user.mean_activity'] = tf.drop_duplicates(subset='user.id', keep='last')['user.activity'].mean()

tf['user.tweets_likes_activity'] = tf.apply(user_tweets_likes_activity, axis=1)

In [28]:
print(time.time() - starttime)

18.763147830963135

## Sperate Text Data

In [29]:
# Seperate text dataframe
txtf = pd.DataFrame()

txt_out_path = 'tweets_preproc_{}_{}_tweet_text.csv'.format(data_name, data_date)

In [30]:
tknzr = TweetTokenizer(preserve_case=False)
stops = Counter(stopwords.words('german'))

def anon_text(row):
    # find uncut text and corresbonding mentions
    text = get_entity(row, 'text')
    mentions = get_entity(row, 'user_mentions')
    
    # anon mentions
    offset = 0
    for mention in mentions:
        user_id = str(conv_user_id(mention['id_str']))
        indices = mention['indices']
        
        text = text[:indices[0]+offset] + '@user' + user_id + text[indices[1]+offset:]
        offset += len('@user' + user_id) - (indices[1] - indices[0])

    # remove stop words
    text = [word for word in tknzr.tokenize(text) if word not in stops]
    
    '''
    # remove link to tweet, which is present if it contains media
    if count_entity(row, 'media') > 0:
        text = text[:-1]
    '''
    
    return text

In [31]:
starttime = time.time()

In [32]:
txtf['id'] = tf['id']

txtf['text'] = df.apply(anon_text, axis=1)

In [33]:
print(time.time() - starttime)

6.265855073928833

## Save dataframe as CSV file

In [34]:
display(tf)

,id,timestamp,time,hour,date,weekday_enc,weekday,first_day,last_day,pure_source,...,user.url,user.listed_count,user.listed_count_mean,user.last_tweet,user.statuses_count,user.favourites_count,user.account_age,user.activity,user.mean_activity,user.tweets_likes_activity
0,1,2019-08-23 00:08:41+00:00,00:08:41,0,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,1,170.728171,1,1907,866,641,2.975039,13.777983,4.326053
1,2,2019-08-23 00:26:51+00:00,00:26:51,0,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,62,170.728171,19976,39239,13591,3490,11.412894,13.777983,15.137536
2,3,2019-08-23 00:41:15+00:00,00:41:15,0,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,0,170.728171,3,1403,1981,3831,0.366223,13.777983,0.883320
3,4,2019-08-23 00:42:43+00:00,00:42:43,0,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,0,170.728171,4,210,94,343,0.612245,13.777983,0.886297
4,5,2019-08-23 00:48:33+00:00,00:48:33,0,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,3,170.728171,5,65844,203,3410,19.309091,13.777983,19.368622
5,6,2019-08-23 00:55:48+00:00,00:55:48,0,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,9,170.728171,6,34726,12691,3591,9.670287,13.777983,13.204400
6,7,2019-08-23 00:57:58+00:00,00:57:58,0,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,1,170.728171,7,28664,99892,1807,15.862756,13.777983,71.143331
7,8,2019-08-23 01:06:22+00:00,01:06:22,1,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,17,170.728171,8,116569,98589,1949,59.809646,13.777983,110.394048
8,9,2019-08-23 02:11:12+00:00,02:11:12,2,2019-08-23,4,Friday,2019-08-23,2019-10-02,True,...,True,568,170.728171,13526,36790,20341,3698,10.138724,13.777983,15.449162
9,10,2019-08-23 02:14:00+00:00,02:14:00,2,2019-08-23,4,Friday,2019-08-23,2019-10-02,True,...,True,115,170.728171,10,277875,0,3791,73.298602,13.777983,73.298602
10,11,2019-08-23 02:16:59+00:00,02:16:59,2,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,0,170.728171,11,2080,1744,1955,1.063939,13.777983,1.956010
11,12,2019-08-23 02:23:00+00:00,02:23:00,2,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,0,170.728171,12,1551,1804,1860,0.833871,13.777983,1.803763
12,13,2019-08-23 02:25:10+00:00,02:25:10,2,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,True,7,170.728171,13,49384,69857,2227,22.175123,13.777983,53.543332
13,14,2019-08-23 02:26:23+00:00,02:26:23,2,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,1,170.728171,14,2583,2969,956,2.701883,13.777983,5.807531
14,15,2019-08-23 02:35:34+00:00,02:35:34,2,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,1,170.728171,15,11076,5796,1656,6.688406,13.777983,10.188406
15,16,2019-08-23 02:43:57+00:00,02:43:57,2,2019-08-23,4,Friday,2019-08-23,2019-10-02,True,...,True,0,170.728171,16,5400,424,1619,3.335392,13.777983,3.597282
16,17,2019-08-23 02:58:21+00:00,02:58:21,2,2019-08-23,4,Friday,2019-08-23,2019-10-02,True,...,False,3,170.728171,12494,5822,3949,3734,2.158811,13.777983,2.616765
17,18,2019-08-23 03:06:23+00:00,03:06:23,3,2019-08-23,4,Friday,2019-08-23,2019-10-02,True,...,False,3,170.728171,12494,5824,3949,3734,2.158811,13.777983,2.617300
18,19,2019-08-23 03:26:22+00:00,03:26:22,3,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,0,170.728171,19,312,244,1043,0.299137,13.777983,0.533078
19,20,2019-08-23 03:29:13+00:00,03:29:13,3,2019-08-23,4,Friday,2019-08-23,2019-10-02,True,...,False,9,170.728171,20,1168,681,2047,0.570591,13.777983,0.903273
20,21,2019-08-23 03:41:19+00:00,03:41:19,3,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,1,170.728171,21,1311,4977,3275,0.400305,13.777983,1.920000
21,22,2019-08-23 03:56:01+00:00,03:56:01,3,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,True,22,170.728171,3206,7232,17043,2459,3.023587,13.777983,9.871899
22,23,2019-08-23 03:58:29+00:00,03:58:29,3,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,5,170.728171,23,20097,16488,2641,7.609618,13.777983,13.852707
23,24,2019-08-23 03:59:40+00:00,03:59:40,3,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,11,170.728171,24,24264,85718,822,29.518248,13.777983,133.798054
24,25,2019-08-23 04:01:30+00:00,04:01:30,4,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,1,170.728171,3725,1912,3733,1215,1.775309,13.777983,4.646091
25,26,2019-08-23 04:23:36+00:00,04:23:36,4,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,0,170.728171,26,1526,4637,550,2.774545,13.777983,11.205455
26,27,2019-08-23 04:25:07+00:00,04:25:07,4,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,1,170.728171,3725,1916,3737,1215,1.775309,13.777983,4.652675
27,28,2019-08-23 04:25:25+00:00,04:25:25,4,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,0,170.728171,4037,7797,60627,522,15.268199,13.777983,131.080460
28,29,2019-08-23 04:25:26+00:00,04:25:26,4,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,1,170.728171,3725,1917,3737,1215,1.775309,13.777983,4.653498
29,30,2019-08-23 04:25:27+00:00,04:25:27,4,2019-08-23,4,Friday,2019-08-23,2019-10-02,False,...,False,0,170.728171,18350,456,3453,83,52.108434,13.777983,47.096386
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22259,22260,2019-10-02 19:17:57+00:00,19:17:57,19,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,True,46,170.728171,22260,41820,51978,4094,10.214949,13.777983,22.911089
22261,22262,2019-10-02 19:23:29+00:00,19:23:29,19,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,True,23,170.728171,22262,24446,19767,1844,13.257050,13.777983,23.976681
22267,22268,2019-10-02 19:32:03+00:00,19:32:03,19,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,True,0,170.728171,22269,861,13557,485,1.777320,13.777983,29.727835
22268,22269,2019-10-02 19:35:32+00:00,19:35:32,19,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,True,0,170.728171,22269,862,13558,485,1.777320,13.777983,29.731959
22270,22271,2019-10-02 19:37:10+00:00,19:37:10,19,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,False,0,170.728171,22271,202,347,1754,0.115165,13.777983,0.312999
22272,22273,2019-10-02 19:37:52+00:00,19:37:52,19,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,False,3,170.728171,22273,19393,30379,804,24.120647,13.777983,61.905473
22273,22274,2019-10-02 19:42:12+00:00,19:42:12,19,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,False,7,170.728171,22274,9431,20299,1244,7.581190,13.777983,23.898714
22276,22277,2019-10-02 19:44:07+00:00,19:44:07,19,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,False,0,170.728171,22277,3173,40414,493,6.436105,13.777983,88.411765
22277,22278,2019-10-02 19:45:47+00:00,19:45:47,19,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,False,3,170.728171,22278,32565,18276,1583,20.571699,13.777983,32.116867
22278,22279,2019-10-02 19:45:56+00:00,19:45:56,19,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,True,1,170.728171,22279,2564,5253,635,4.037795,13.777983,12.310236
22279,22280,2019-10-02 19:47:02+00:00,19:47:02,19,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,True,19,170.728171,22280,85268,102421,2631,32.408970,13.777983,71.337514
22280,22281,2019-10-02 19:47:44+00:00,19:47:44,19,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,True,1,170.728171,22281,86,105,832,0.103365,13.777983,0.229567
22282,22283,2019-10-02 19:53:42+00:00,19:53:42,19,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,True,0,170.728171,22283,51,34,160,0.318750,13.777983,0.531250
22284,22285,2019-10-02 19:59:55+00:00,19:59:55,19,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,False,0,170.728171,22285,65,1098,211,0.308057,13.777983,5.511848
22285,22286,2019-10-02 20:01:36+00:00,20:01:36,20,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,True,7,170.728171,22286,25951,3684,3739,6.940626,13.777983,7.925916
22286,22287,2019-10-02 20:05:11+00:00,20:05:11,20,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,False,3,170.728171,22287,9521,69621,1873,5.083289,13.777983,42.254138
22287,22288,2019-10-02 20:14:32+00:00,20:14:32,20,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,True,5,170.728171,22288,669,2846,1931,0.346453,13.777983,1.820300
22290,22291,2019-10-02 20:32:36+00:00,20:32:36,20,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,False,0,170.728171,22291,3401,6938,2020,1.683663,13.777983,5.118317
22297,22298,2019-10-02 20:41:44+00:00,20:41:44,20,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,False,9,170.728171,22298,10228,13799,3505,2.918117,13.777983,6.855064
22301,22302,2019-10-02 20:50:06+00:00,20:50:06,20,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,False,2,170.728171,22302,23526,54020,1814,12.969129,13.777983,42.748622
22302,22303,2019-10-02 20:50:45+00:00,20:50:45,20,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,True,5,170.728171,22303,96812,92969,2349,41.214134,13.777983,80.792252
22303,22304,2019-10-02 20:53:55+00:00,20:53:55,20,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,False,1,170.728171,22304,9396,10751,2725,3.448073,13.777983,7.393394
22304,22305,2019-10-02 20:54:26+00:00,20:54:26,20,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,False,1,170.728171,22305,621,887,1808,0.343473,13.777983,0.834071
22311,22312,2019-10-02 21:36:44+00:00,21:36:44,21,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,True,3,170.728171,22312,1353,3871,3522,0.384157,13.777983,1.483248
22312,22313,2019-10-02 21:44:18+00:00,21:44:18,21,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,False,3,170.728171,22313,881,18458,944,0.933263,13.777983,20.486229
22314,22315,2019-10-02 21:53:00+00:00,21:53:00,21,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,False,8,170.728171,22315,31522,13189,3344,9.426435,13.777983,13.370514
22316,22317,2019-10-02 22:01:00+00:00,22:01:00,22,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,True,953,170.728171,22317,3815831,26721,3626,1052.352730,13.777983,1059.722008
22318,22319,2019-10-02 22:20:31+00:00,22:20:31,22,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,True,68,170.728171,22319,23027,22005,2537,9.076468,13.777983,17.750099
22320,22321,2019-10-02 22:32:39+00:00,22:32:39,22,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,False,7,170.728171,22321,8188,31972,3540,2.312994,13.777983,11.344633
22322,22323,2019-10-02 23:32:22+00:00,23:32:22,23,2019-10-02,2,Wednesday,2019-08-23,2019-10-02,False,...,True,1,170.728171,22323,3380,2912,1068,3.164794,13.777983,5.891386

In [35]:
display(txtf)

          id                                               text
0          1                            [@user0, vegan, schlop]
1          2  [ja, ,, amazonas, brennt, wegen, faschismus, k...
2          3                           [@user0, vegan, sausage]
3          4  [wen, überzeugter, veganer, ,, warum, kuck, ku...
4          5  [dammit, i, swear, them, 8, months, i, vegan, ...
5          6  [hey, ,, probiers, mal, ., suche, 1.10, ., wg-...
6          7  [vegan, rice, krispie, treat, the, last, thing...
7          8  [hey, ,, probiers, mal, ., suche, 1.10, ., wg-...
8          9  [essential, detox, -, vegezy, https://t.co/6DV...
9         10  [kind, vegan, ernährt, :, https://t.co/2gPTZZk...
10        11  [aktionskünstler, #berlin, -, #mitte, ampeln, ...
11        12            [@user0, vegan, hamburgers, and, tacos]
12        13  [hey, ,, probiers, mal, ., suche, 1.10, ., wg-...
13        14  [@user0, fällen, einfach, mal, fragen, avocado...
14        15  [vegan, mac, &, cheese, burger, ?, ?, ?, the, ...
15        16  [früher, schlachter, ,, heute, vegan, :, 3, eh...
16        17  [#, 5.gebot, :D, usollstnichttöten, #judentum,...
17        18  [#erfahrung, #erkenntnis, :, bewusstsein, verä...
18        19  [schauts, ?, #vegan, #milch, https://t.co/86f5...
19        20  [", äpfel, müssen, ., ", ", hefe, .., ", #blec...
20        21                            [@user0, burger, vegan]
21        22  [@user0, mehr, tun, (, vll, ., schon, vegetari...
22        23  [hey, ,, probiers, mal, ., suche, 1.10, ., wg-...
23        24  [wohin, völlige, pseudoreligiöse, verblendung,...
24        25  [@user0, @user0, @user0, protest, straße, geäu...
25        26  [stehe, fleischessern, ja, liebevoll, gegenübe...
26        27  [@user0, wohl, protestiert, !, mehr, ., global...
27        28  [produkte, #pflanzen, zukünftig, besser, schme...
28        29  [@user0, wohl, protestiert, !, mehr, ., global...
29        30  [stehe, fleischessern, ja, liebevoll, gegenübe...
...      ...                                                ...
22259  22260  [@user1506295, tofu, ,, seitan, ,, sojaschnetz...
22261  22262  [@user3853500, veggiewurst, (, wurst, müsste, ...
22267  22268  [@user9528485, @user2415009, @user0, @user0, @...
22268  22269  [@user9528485, @user2415009, @user0, @user0, @...
22270  22271  [@user11388144, @user2415009, @user0, @user0, ...
22272  22273  [könnt, freundinnen, odr, paar, nehmen, abend,...
22273  22274  [@user0, @user5011070, erledigt, ., https://t....
22276  22277  [@user10940557, vegan, !, ?, :, 0, (, lang, in...
22277  22278  [@user0, fast, vegan, ..., töten, hässliche, t...
22278  22279                              [@user0, vegan, diet]
22279  22280  [@user1617443, !, !, nissin, demae, recht, vie...
22280  22281  [eigene, gesundheit, unzählige, tierleben, ret...
22282  22283  [vegan, sausage, roll, 🤣, ‘, my, body, is, poi...
22284  22285  [@user0, ja, gerne, mal, ", 30, tage, vegan, "...
22285  22286  [geht, besser, ., heute, ’, s, ➕, 3, ️, ⃣, ,, ...
22286  22287  [@user0, denkst, gab, vegan-variante, saitan, ...
22287  22288  [@user0, @user394073, @user5070500, v, ., adle...
22290  22291  [@user6174263, @user0, @user1627380, @user5011...
22297  22298  [gibt, übrigens, geflügelfleisch, ,, rind, veg...
22301  22302  [..., ", schweinerei, ", ,, entspricht, untern...
22302  22303   [@user0, sowas, bitte, vegan, ?, ?, ?, ..., xdd]
22303  22304                                 [@user0, vegan, ?]
22304  22305  [@user0, warum, erwähnt, ,, vegane, sneakers, ...
22311  22312  [@user0, entweder-oder, genug, ., brauchen, ge...
22312  22313  [gebracht, ,, völlig, kranken, umgang, tieren,...
22314  22315  [ahre, @user0, veganism, created, as, a, lie, ...
22316  22317  [@user0, oje, -, natürlich, optimal, ,, klappt...
22318  22319  [@user7363830, „, isst, vegan, ?, “, „, wähle,...
22320  22321  [@user0, sag, mal, eigentlich, vegetatier, veg...
22322  22323  [@user7556463, vegetarisch, drüber, reden, veg...

[21359 rows x 2 columns]

In [22]:
# Save dataframe as CSV file
tf.to_csv(out_path, index=False)
txtf.to_csv(txt_out_path, index=False)